<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% if title %}
        <title>Expense Tracker - {{ title }}</title>
    {% else %}
        <title>Tasks</title>
    {% endif %}
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
  </head>

  <body>
    <header>
        <div class="header">
            <a class="text-link" href="/">Home</a>
            <a class="text-link" href="/add">Add</a>
            <a class="text-link" href="/api">API</a>
            <a class="text-link" href="/summary">Summary</a>
        </div>
    </header>
    <main class="main">
    {% block content %} {% endblock %}
    </main>
  </body>
</html>