.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.app-space {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1000px;
    border: 2px solid black;
    width: 500px;
    padding: 50px;
    gap: 30px;
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navlinks {
    display: flex;
    flex-direction: row;
    gap: 1px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item {
    display: flex;
    flex-direction: row;
    gap: 10px;
    border-bottom: 1px solid black;
}

.card {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 250px;
    padding: 10px;
}

.open {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 500px;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;

}