{% extends "layout.html" %}{% block content %}
<div>
    <a class="topright" href="/lastsevendays">Last 7 Days</a>
</div>
{% for data in datas %}
    <div class="box">
        <p>Date: {{ data["date"] }} </p>
        <p>Category: {{ data["category"]}} </p>
        <p>Description: {{ data["description"]}} </p>
        <p>Amount: {{ data["amount"]}} </p>
        <p>Cost Each: ${{ data["cost"]}} </p>
        <p>Cost Total: ${{ data["total"] }} </p>
        <p>Note: {{ data["note"]}} </p>
    </div>
{% endfor %}

{% endblock %}